<h1>Payment Results</h1>
<h2>APR</h2>
<h3><%= @user_apr %></h3>
<h2>Number of years</h2>
<h3><%= @user_years %></h3>
<h2>Principal</h2>
<h3> <%= @principal %> </h3>
<h2> Payment </h2>
<h3> <%= @currency %>
